#ArtList{
	
	margin-top: 20px;
}

#ArtList li{
	
	min-height: 140px;
	position: relative;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px 2px 20px 0;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
	line-height: 20px;
}

#ArtList .title{
	
	font-size: 18px;
	
	color: #969696;
	
	line-height: 1.5;
	
	font-weight: 700;
}

#ArtList p{
	
	font-size: 13px;
    line-height: 24px;
    color: #999;
}

#ArtList .lastBar a{
	
	display: inline-block;
	
	margin-right: 10px;
	
	color: #999;
}

#ArtList .lastBar span{
	
	display: inline-block;
	
	margin-right: 5px;
}

#ArtList .author{
	
	height: 24px;
	
	line-height: 24px;
	
	margin-bottom: 14px;
}

#ArtList .author img{
	
	width: 24px;
	
	display: inline-block;
} 

#ArtList .author a{
	
	display: inline-block;
	
	margin-right: 5px;
	
	color: #333;
}