#me{
	
	height: 80px;
	
	padding-top: 30px;
	
	box-sizing: content-box;
}

#me>a>img{
	
	width: 80px;
}

#me>a{
	
	float: left;
	
	margin-right: 25px;
}

#me div{
	
	margin-left: 105px;
}

#MyList a{
	
	float: left;
	
	border-right: 1px solid #f0f0f0;
	
	color: #969696;
	
	padding: 0 5px;
}

#me:after{
	
	content:" ";  display:block; clear:both; height:0; visibility:hidden ; 
}
