#NavList{
	
	width: 100%;
	
	border-bottom: 1px solid #f0f0f0;
	
	padding-top: 18px;
}

#NavList li{
	
	float: left;
	
	width: 98px;
	
	height: 50px;
	
	text-align: center;
	
	line-height: 50px;
	
	box-sizing: border-box;
	
	border-bottom: 2px solid transparent;
	
	margin-bottom: -1px;
}

#NavList a{
	
	color: #969696;
	
	font-weight: 700;
	
	display: block;
	
	height: 100%;
	
	width: 100%;
}

#NavList:after{
	
	content:" ";  display:block; clear:both; height:0; visibility:hidden ; 
}

#NavList .select{

	border-bottom: 2px solid #646464 ;
}

#NavList .select a{
	
	color: #646464;
}

#NavList li:hover:not(.select){
	
	border-bottom: 2px solid #646464;
}

#NavList li:hover:not(.select) a{
	
	color: #646464;
}

.follow{
	
	margin-top: 20px;
	
	
}

.follow li{
	
	height: 57px;
	
	padding-bottom: 20px;
	
	border-bottom: 1px solid #f0f0f0;
	
	box-sizing: content-box;
	
	margin-bottom: 20px;
}

.userimg{
	
	float: left;
	
	margin-left: 8px;
}
 
 .userimg img{
	 
	 width: 52px;
	 
	 border-radius: 50%;
 }
 
 .info{
	 
	 float: left;
	 
	 margin-left: 10px;
	 
	 font-size: 12px;
	 
	 line-height: 1;
 }
 
 .info h3{
	 
	 font-weight: 700;
	 
	 font-size: 15px;
	 
	 color: #333;
 }
 
 .follow button{
	 
	 float: right;
	 
	 text-align: center;
	 
	 width: 98px;
	 
	 height: 20px;
	 
	 border: 1px solid #e1e1e1;
	 
	 margin-top: 8px;
	 
	 line-height: 20px;
	 
	 border-radius: 20px;
	 
	 padding: 10px 0;
	 
	 outline: none;
	 
	 background: none;
	 
	 box-sizing: content-box;
	 
	 cursor: pointer;
 }
 
 .follow .guanzhu{
	 
	 background: #42c02e;
	 
	 color: #fff;
 }
 
 
 
 
 
 
 
 